.footer {
  background-color: red;
  color: black;
  padding: 4em 2em;
  margin-top: 2em;
  position: relative;
  bottom: 0;
  width: 100vw;
}
a {
  color: white;
}
a:hover {
  text-decoration: underline;
}
input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
}
input::placeholder {
  color: white;
  font-size: 20px;
}

.upperFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.lowerFooter {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 3em;
  margin-top: 1em;
  margin-bottom: 0;
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 3em 1em;
  }
  .email_storyset {
    width: 250px !important;
  }
  .footer .upperFooter input::placeholder {
    font-size: 16px;
  }
  .footer .upperFooter .subscribe {
    font-size: 20px !important;
  }

  .lowerFooter {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
